.overlay-popup-search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1000;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding-top: 40px;
}

.content-popup-search {
    width: min(98%, 700px);
    display: inline-flex;
    padding: var(--2415-rem, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--322-rem, 32px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: #0D0B12;
    z-index: 1001;
}

.btn-input-search{
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 4px;
    padding: 0.5px 9px;
}

.content-popup-search .inputSearch {
    background-color: transparent;
}

.fade-in{
    animation: fade-in 0.2s linear;
}

@keyframes fade-in{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (max-width: 780px) {
    .overlay-popup-search {
        display: none;
    }
}