@keyframes blinky {
    0% {
        background: transparent;
    }

    100% {
        background: #8A66D8;
    }
}

@-webkit-keyframes blinky {
    0% {
        background: transparent;
    }

    100% {
        background: #8A66D8;
    }
}

.text-custom-caret {
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    margin: 0 !important;
}

.input-custom-caret {
    display: flex;
    position: absolute;
    top: 0;
    height: 100%;
}

.input-custom-caret {
    color: transparent;
    background-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    width: 100%;
    outline: none;
    min-width: max-content;
    user-select: none;
}

.input-custom-caret::selection {
    background: transparent;
    color: transparent;
}

.input-custom-caret::-moz-selection {
    background: transparent;
    color: transparent;
}

.text-custom-caret:after,
.text-custom-caret:before {
    content: '';
    display: inline-block;
    width: 2px;
    height: 20px;
    vertical-align: middle;
}

.text-custom-caret:after {
    position: relative;
    bottom: 2px;
    left: 8px;
    background: #8A66D8;
    animation: blinky 0.6s linear infinite alternate;
    -webkit-animation: blinky 0.6s linear infinite alternate;
}