.get-help {
    padding: 6px 12px;
    border-radius: 9999px;
    background-color: #00000015;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    cursor: pointer;
}

.get-help-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #707070;
}

.content-container {
    padding: 40px 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icon_success {
    border-radius: 50%;
    background-color: #58d073;
    width: 50px;
    height: 50px;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container-desc {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    gap: 4px;
}

.content-container-desc-title {
    color: #F5F5F5;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.item>span {
    color: var(--neutral-25, #F5F5F5);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.view-explore {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: var(--neutral-25, rgb(252, 114, 255));
    font-family: 'Chakra Petch';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}