.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 10px 0;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  color: white; /* Button text color */
}

.dropdown-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.dropdown-arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-menu-list {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  padding: 0;
  z-index: 1000;
  width: auto; /* Ensure the width can be set dynamically */
  animation: zoomIn 0.2s ease-in-out;
  max-width: 200px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 8px;
}

.dropdown-item:hover {
  background-color: #f7f7f7;
  border-radius: 8px;
}

.dropdown-item-logo {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 10px;
}

.dropdown-item-name {
  font-size: 16px;
  color: #000;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.dropdown-item-check {
  color: #ff69b4; /* Customize the color of the check icon */
}

/* animation */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
