.custom-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #8a66d8;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  gap: 4px;
  /* 19.6px */
  cursor: pointer;
  /* width: fit-content; */
  width: 98px;
}

.custom-input-prefix,
.custom-input-suffix,
.custom-input-loading {
  display: flex;
  align-items: center;
  /* padding: 0 8px; */
  color: #333;
}

.custom-input {
  cursor: pointer;
  border: none;
  outline: none;
  pointer-events: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  /* flex: 1 1; */
  width: 100%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 2px 0;
  font-size: 14px;
  border-radius: 4px;
  background-color: transparent;
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
}

.custom-input[type="number"]::-webkit-outer-spin-button,
.custom-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-input[type="number"] {
  -moz-appearance: textfield;
}

.custom-input:focus {
  /* border-color: #66afe9; */
  /* box-shadow: 0 0 0 1px #66afe9; */
}

.custom-input-prefix {
  /* border-right: 1px solid #ccc; */
}

.custom-input-suffix {
  /* border-left: 1px solid #ccc; */
}

.custom-input-loading {
  /* border-left: 1px solid #ccc; */
  position: relative;
}

.custom-input-suffix-container {
  position: relative;
}

.spinner {
  width: 16px;
  height: 16px;
  border: 2px solid #3e3e4e;
  border-top: 2px solid #6a1b9a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
