.KolFilter {
    margin-left: 8px;
}


.new-header-filter-btn {
    height: 42px;
    padding: 0px 12px 0px 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
  }
  
  .new-header-filter-btn:hover {
    background: #24262b;
  }
  
  .new-header-active-filter-btn {
    background: #6146d733 !important;
  }
  
  .new-header-btn-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;
  }
  
  .new-header-text {
   
    color: #f5f5f5;
  }

  .kol-btn {
    position: relative;
  }


.kol-btn {
    position: relative;
  }
  
  .popup-kol {
    position: absolute;
    z-index: 99;
    left: 0;
    top: 48px;
    width: 288px;
    padding: 24px 12px 24px 12px;
    gap: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #343438 0%, #2a2a2e 100%);
    box-shadow: 0px 4px 24px 0px #0000001f;
  }
  
  .popup-kol-header {
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
  }
  
  .popup-kol-header-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.01em;
    text-align: left;
  }
  
  .popup-kol-item {
    height: 48px;
    display: flex;
    gap: 12px;
    padding: 0px 12px 0px 8px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
  }
  
  .check-box {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #f5f5f599;
    background-color: transparent;
  }
  
  .isBoxChecked {
    background-color: #6c46d7;
    border-color: transparent;
  }
  
  .popup-kol-item:hover {
    background: #6146d733;
  }
  
  .popup-kol-item:hover .check-box {
    border: 1.6px solid #b49ef2;
  }
  
  .popup-kol-item:hover .isBoxChecked {
    border-color: transparent;
  }
  
  .popup-kol-text {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }
  
  .kol-clear-all-btn {
    height: 28px;
    padding: 0px 4px;
    gap: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .kol-clear-all-btn-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: -0.01em;
    text-align: center;
    color: #f5f5f599;
  }
  
  .kol-clear-all-btn:hover .kol-clear-all-btn-text {
    color: #b49ef2;
  }
  
  @media screen and (max-width:575.98px) {
    .KolFilter {
      margin: 0;
      margin-bottom: 8px;
    }

    .popup-kol {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
  }