  /* Tooltip.css */
.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-message {
    position: fixed; /* Use fixed positioning to position relative to the viewport */
    background-color: #626576;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .tooltip-container:hover .tooltip-message {
    opacity: 1;
    visibility: visible;
  }
  