body::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding-top: 20px;
}

/* Track */
body::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #626576;
  border-radius: 24px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #626576;
}

svg {
  /* Anti-aliasing cho SVG */
  /* shape-rendering: geometricPrecision;
  text-rendering: geometricPrecision;
  image-rendering: optimizeQuality; */
}

/* TODO: css Header */
.containerHeader {
  display: flex;
  padding: 20px 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  background-color: #0d0d18;
  z-index: 100;
  position: relative;
}

.containerInputSearch {
  width: 400px;
  display: flex;
  padding: 0px 12px;
  align-items: center;
  border-radius: var(--input-size-md-corner-radius, 6px);
  border: 1px solid rgba(65, 65, 74, 0.5);
  gap: var(--input-size-md-gap, 8px);
  transition: 0.3s all ease-out;
}

.containerInputSearch:hover {
  background-color: #22232a;
  border-color: #e1e2e5;
}

.containerInputSearch:hover .inputSearch {
  background-color: #22232a;
}

.containerInputSearch:focus-within {
  background-color: #22232a;
  border-color: #8a66d8;
}

.iconSearch {
  padding: 12px 0px;
  cursor: pointer;
}

.boxInputSearch {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.boxInputSearch.focus {
  background-color: #22232a;
}

.containerInputSearch:focus-within .inputSearch{
  background-color: transparent;
}

.inputSearch {
  width: 100%;
  height: 20px;
  border: none;
  outline: none;
  background-color: #0d0d18;
  color: #fff;
  transition: 0.3s all ease-out;
}

.inputSearch:focus {
  background-color: #22232a;
}

.align-left {
  justify-content: flex-start !important;
}

.align-center {
  justify-content: center !important;
}

.align-right {
  justify-content: flex-end;
}

.showSearchHeader {
  position: fixed;
  gap: 16px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 12px;
  background: var(--primary-950, #0d0d18);
  z-index: 9999;
  padding: 20px;
}

.containerInputSearchMB {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.boxInputSearchMB {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.inputSearchMb {
  width: 100%;
  height: 20px;
  border: none;
  outline: none;
  background-color: #0d0d18;
  color: #fff;
  transition: 0.3s all ease-out;
}

.inputSearchMb:focus {
  background-color: #22232a;
}

.inputSearchHeaderMB {
  display: flex;
  width: 100%;
  height: var(--input-size-md-height, 44px);
  padding: 0px var(--input-size-md-padding, 12px);
  align-items: center;
  gap: var(--input-size-md-gap, 8px);
  align-self: stretch;
  border-radius: var(--input-size-md-corner-radius, 6px);
  border: 1px solid rgba(65, 65, 74, 0.5);
  transition: 0.3s all ease-out;
}

.inputSearchHeaderMB:hover {
  background-color: #22232a;
  border-color: #e1e2e5;
}

.inputSearchHeaderMB:hover .inputSearchMb {
  background-color: #22232a;
}

.inputSearchHeaderMB:focus-within {
  background-color: #22232a;
  border-color: #8a66d8;
}

.containerListResult {
  display: flex;
  flex-wrap: wrap;
  padding: var(--20125-rem, 20px);
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  justify-content: center;
}

.itemListResult {
  display: flex;
  height: 40px;
  padding: 0px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  border: 1px solid rgba(153, 141, 198, 0.32);
  cursor: pointer;
  transition: 0.3s all ease-out;
}

.itemListResult:hover {
  border: 1px solid rgba(197, 216, 238, 0.6);
}

.UnionIcon {
  display: none;
  width: 14px;
  height: 14px;
}

.itemListResult:hover .UnionIcon {
  display: flex;
}

.itemListResult:hover .IconResultSearch {
  display: none;
}

.contentItemList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.textItemList {
  color: var(--p-text, #f5f5f5);
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 124.1%;
  letter-spacing: 0.28px;
  margin: 0;
}

.boxConnectWallet {
  display: flex;
  height: var(--button-size-md-height, 44px);
  padding: 0px var(--button-size-md-padding, 12px);
  justify-content: center;
  align-items: center;
  border-radius: var(--button-size-md-corner-radius, 6px);
  background: var(--button-color-solid-enabled-background, #8a66d8);
  gap: var(--button-size-md-gap, 6px);
}

.boxConnectWallet:hover {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: var(--button-color-solid-enabled-background, #b19ee7);
}

.textConnectWallet {
  color: var(--button-color-solid-enabled-text, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.containerConnectWallet {
  display: flex;
  gap: 12px;
  align-items: center;
}

.iconSearchConnectWallet {
  display: none;
}

.logo {
  width: 100%;
  /* Default width */
  max-width: 170px;
  /* Maximum width */
  height: auto;
  /* Maintain aspect ratio */
  cursor: pointer;
}

@media (max-width: 991px) {
  .containerInputSearch {
    width: 300px;
  }
}

@media (max-width: 767px) {
  .containerHeader {
    display: flex;
    padding: 12px 12px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(50px);
  }

  .iconSearchConnectWallet {
    display: flex;
    cursor: pointer;
  }

  .containerInputSearch {
    display: none;
  }

  .containerInputSearchModal {
    display: flex;
    transition: all 0.2s ease-in-out;
  }
}

@media (max-width: 424px) {
  /* .logo {
      width: 140px;
    } */

  .boxConnectWallet {
    height: 36px;
    padding: 0px 8px;
    gap: 4px;
  }

  .textConnectWallet {
    font-size: 12px;
  }
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .logo {
    max-width: 160px;
  }
}

@media (max-width: 768px) {
  .logo {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .logo {
    max-width: 140px;
  }

  .trending_header_text {
    font-size: 17px !important;
  }
}

/* TODO: css Content include[Trending, Action, DataTable + Swaptoken] */

/* Table */
/* 
  .container {
      padding: 0 !important;
  } */

.container-table {
  max-width: 1320px;
  overflow-x: scroll;
  flex: 1;
  min-height: 670px;
  width: 100%;
}

.hide-row-table {
  min-width: 740px;
}

.show-full-table {
  min-width: 1320px;
  overflow-x: scroll;
}

.container-table::-webkit-scrollbar {
  width: 20px;
  height: 6px;
  padding-top: 20px;
}

/* Track */
.container-table::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.container-table::-webkit-scrollbar-thumb {
  background: #626576;
  border-radius: 24px;
}

/* Handle on hover */
.container-table::-webkit-scrollbar-thumb:hover {
  background: #626576;
}

.swap-token {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 14.5%,
      rgba(138, 102, 216, 0.1) 37.04%,
      rgba(138, 102, 216, 0.12) 76.67%,
      rgba(0, 0, 0, 0) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.table {
  border-radius: 8px;
  background: #11111a;
  backdrop-filter: blur(25px);
  margin: 0 !important;
}

.head-table .header-table:last-child {
  display: flex;
  justify-content: flex-end;
}

.body-table-row .body-table:first-child {
  max-width: 300px;
}

.header-table {
  color: var(--neutral-500, #626576);
  font-family: "Chakra Petch";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border: 0;
  /* 125% */
}

.body-table {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.body-table-row:last-child>.body-table {
  border-bottom: none;
}

.header-table:not(:last-child),
.body-table:not(:last-child) {
  padding-right: 40px;
}

.header-table:not(:first-child),
.body-table:not(:first-child) {
  padding-left: 0;
}

.header-table:first-child,
.body-table:first-child {
  padding-left: 20px;
}

.header-table:last-child,
.body-table:last-child {
  padding-right: 20px;
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--neutral-25, #f5f6f7);
  text-overflow: ellipsis;
  font-family: "Chakra Petch";
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  /* width: 115px; */
  line-height: 130%;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #626576;
}

.time {
  color: var(--neutral-500, #626576);
  text-align: center;
  font-family: "Chakra Petch";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  white-space: nowrap;
  /* 20.8px */
}

.action-content {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 19.6px */
}

.text-red {
  color: #f95e5e;
}

.text-green {
  color: #58d073;
}

.token-content {
  color: var(--neutral-100, #e1e2e5);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

.btn-quick-action {
  height: 28px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--primary-500, #8a66d8);
  background: rgba(255, 255, 255, 0.04);
  cursor: pointer;
  transition: all;
}

.btn-quick-action:hover {
  border-color: #977fcc;
  background-color: rgba(255, 255, 255, 0.08);
}

.title-quick-action {
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  overflow: hidden;
  flex: 1;
}

.loading-quick-action {
  width: 14px;
  height: 26px;
  margin-top: -1px;
}

.loading-quick-action-2 {
  width: 14px;
  height: 23px;
}

.loading-quick-action svg,
.loading-quick-action-2 svg {
  animation: rotation 1.6s linear infinite;
}

.body-table-row {
  transition: all 0.2s ease-in-out;
}

.row-table-in-come {
  animation: in-come 1s linear;
}

.body-table-row:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.body-table-row-active {
  background-color: rgba(255, 255, 255, 0.04);
}

.container-swap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.title-swap {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 31.2px */
}

.input-swap {
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}

.content-swap-item {
  padding: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  width: 100%;
}

.line {
  width: 2px;
  height: 20px;
  background: var(--primary-500, #8a66d8);
}

.chossen-token {
  display: flex;
  padding: 6px 10px 6px 6px;
  align-items: center;
  gap: 4px;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.chossen-token:hover {
  border: 1px solid #e1e2e5;
  background-color: rgba(255, 255, 255, 0.08);
}

.btn-change-swap {
  transition: all 0.3s ease-in-out;
}

.btn-change-swap:hover {
  border: 1px solid #e1e2e5 !important;
}

.price-swap {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 20.8px */
}

.btn-close-swap:hover .icon {
  opacity: 0;
}

.btn-close-swap:hover .hover-icon {
  opacity: 1;
}

.max-swap {
  color: var(--button-color-ghost-enabled-text, #8a66d8);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: -2px;
  padding-left: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* 142.857% */
}

.max-swap:hover {
  color: #9f88d1;
}

.title-btn-swap {
  color: var(--neutral-0, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.btn-swap {
  width: 100%;
  cursor: pointer;
  display: flex;
  height: 56px;
  padding: 0px 16px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #8a66d8;
  transition: all 0.2s ease-in-out;
}

.btn-swap-disabled {
  width: 100%;
  cursor: not-allowed;
  /* Change cursor to indicate disabled state */
  display: flex;
  height: 56px;
  padding: 0px 16px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  /* Change border color to grey or any other color to indicate disabled */
  color: #999;
  /* Optional: Change text color to indicate disabled state */
  transition: all 0.2s ease-in-out;
}

.btn-swap:hover {
  border: 1px solid var(--button-color-outline-enabled-stroke, #8a66d8);
  background: var(--primary-500, #8a66d8);
}

.btn-swap-disabled:hover {
  border-color: #b0b0b0;
  /* Subtle change to reinforce disabled state */
}

.overlay {
  display: none;
}

.address {
  color: #a3a5ae;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  transition: all 0.3s ease-in-out;
  /* 16.9px */
}

.address-mint {
  color: #a3a5ae;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  transition: all 0.3s ease-in-out;
  /* 16.9px */
}

/* .badge {
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  color: #a3a5ae !important;
  background: transparent;
  border: 1px solid #a3a5ae;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease-in-out;
}

.badge:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
} */

.badge.success {
  color: #28a745;
  border-color: #28a745;
}

.address-mint:hover {
  color: #fff !important;
}

.address-container:hover>.address {
  color: #e1e2e5;
}

.hover-icon {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.icon {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.address-container:hover .icon {
  opacity: 0;
}

.address-container:hover .hover-icon {
  opacity: 1;
}

.content-td {
  height: 37px;
  display: flex;
  align-items: center;
}

.swap-token {
  opacity: 0;
  transform: translate(37%);
  transition: all 0.3s ease-in-out;
  position: absolute !important;
  right: 120px;
  z-index: -1;
}

.show-swap {
  opacity: 1;
  display: block;
  transform: translate(0);
  position: sticky !important;
  z-index: 100;
  right: 0;
  top: 37px;
  /* transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; */
  animation: fadeInUpBig 0.6s ease-in-out;
  /* animation: slideInRight 1s ease-out; */
}

@keyframes fadeInUpBig {
  from {
    transform: translateY(200px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutUp {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* fix macOS bi lag */

.loading-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 99999;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(24px);
  border-radius: 0 0 8px 8px;
}

@media (max-width: 960px) {
  .swap-token {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98% !important;
    max-width: 360px;
    height: auto !important;
  }

  .show-swap {
    opacity: 1;
    display: block;
    transform: translate(-50%, -50%);
    position: fixed !important;
    z-index: 100;
    top: calc(100svh / 2) !important;
    left: 50%;
    height: 65vh !important;
    animation: fadeIn 0.8s ease-in-out;
  }

  .show-overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
  }
}

@media (max-width: 500px) {
  .hide-respon {
    display: none;
  }

  .form {
    max-width: 158px !important;
    min-width: 158px !important;
  }

  .header-table:not(:last-child),
  .body-table:not(:last-child) {
    padding-right: 16px;
  }

  /* .body-table:last-child,
    .header-table:last-child,
    .quick-action {
      position: sticky;
      right: 0;
      background-color: #11111a !important;
    } */
}

/* TODO: css Pagination */
.containerPagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  background-color: #0d0d18;
  padding: 24px 0px;
  align-items: center;
}

.iconTransparrent {
  display: flex;
  height: var(--pagination-size-sm-height, 20px);
  padding: 0px var(--pagination-size-sm-padding, 6px);
  justify-content: center;
  align-items: center;
}

.page-item {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page-item-select {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #8a66d8;
}

@media (hover: hover) {
  .page-item:hover .page_link {
    color: #8a66d8;
  }
}

.page-item:hover .hover-icon {
  opacity: 1;
}

.page-item:hover .icon {
  opacity: 0;
}

.page_link {
  color: #fff;
  text-align: center;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  transition: all ease 0.3s;
}

.page_link-select {
  color: #8a66d8;
  text-align: center;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

/* TODO: css Trending action */
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0px 62px 0px 58px;
  background: #0d0d18;
}

.trending_header {
  gap: 6px;
}

.trending_action_text {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}

/* .trending_header_text {
    font-size: 24px;
    line-height: 33.6px;
  } */

.trending_content {
  gap: 12px;
}

.trending_content::-webkit-scrollbar {
  height: 0px;
}

.Fomo_tag {
  padding: 3px 8px 3px 8px;
  gap: 10px;
  border-radius: 9999px;
  background: #ffffff0f;
  border: 1px solid #ffffff0f;
}

.Fomo_tag_text {
  font-weight: 600px;
  font-size: 16px;
  line-height: 22.4px;
  background: linear-gradient(97.56deg, #ffa300 8.45%, #fce3b7 87.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fomo_item_child_box,
.fomo_item_child_box:hover {
  /* background: #0d0d18 !important; */
}

.action_table_container {
  display: flex;
  align-items: center;
}

.action_container {
  margin-bottom: 24px;
}

.action_item {
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 4px;
  background: #ffffff1f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.action_item:hover {
  border: 1px solid var(--primary-500, #8a66d8) !important;
}

.action_item:hover>.action_item_text {
  color: #8a66d8;
}

.left_action_item {
  width: 104px;
  background: #ffffff0f;
  border: 1px solid #ffffff14;
  transition: all 0.2s ease-in-out;
}

.action_item_active {
  border: 1px solid var(--primary-500, #8a66d8) !important;
}

.action_item_active:hover>.action_item_text {
  color: #f6f5fd;
}

.action_item_text {
  color: var(--primary-50, #f6f5fd);
  font-size: 16px;
  line-height: 24px;
  transition: all 0.2s ease-in-out;
}

.arrow_down_icon {
  display: none;
}

.action_divider {
  border: 1px solid #ffffff1f;
  height: 26px;
  width: 1px;
  content: "";
  margin: 0 12px;
}

.buy_sell_box {
  width: 94px;
  height: 36px;
  padding: 0px 8px 0px 8px;
  gap: 6px;
  border-radius: 4px;
  background: #ffffff1f;
  display: flex;
  align-items: center;
}

.buy_sell_text {
  color: #ffffff4d;
  transition: all 0.2s ease-in-out;
}

.buy_sell_text:hover {
  color: rgb(163, 165, 174);
}

.buy_sell_text_active {
  color: #ffffff;
}

.buy_sell_input {
  width: 100%;
  background: var(--semantic-empty, #ffffff00);
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.action_box_mobile {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 12px;
  gap: 8px;
  border-radius: 6px;
  background: #ffffff14;
  top: 47px;
  bottom: -315px;
  z-index: 99;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

/* .modalSearch {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 102;
    background: #0d0b12;
    border: 1px solid #ffffff1a;
    border-radius: 8px;
    max-width: 764px;
    animation: fadeIn 0.35s ease-in forwards;
  } */

.modalSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: calc(100svh / 2);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 103;
  background: rgba(0, 0, 0, 0.5);
  max-width: 764px;
}

.modal_content_container {
  /* width: 100%;
    height: 100%;
    padding: 24px; */
  width: 100% !important;
  padding: 24px;
  width: 50%;
  max-width: 764px;
  background: #0d0b12;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  animation: fadeIn 0.35s ease-in forwards;
}

.input_modal_search_wrapper {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.search_icon_box {
  width: 25px;
  height: 25px;
  padding: 8px 10px 8px 10px;
  gap: 10px;
  border-radius: 4px;
  background: #ffffff0f;
  text-align: center;
}

.input_modal_search {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
  background-color: #0d0b12;
}

.containerInputSearchModal:hover {
  border-color: #e1e2e5;
}

.containerInputSearchModal:focus-within {
  border-color: #8a66d8;
}

.iconSearchModal {
  display: flex;
  width: 16px;
  height: 16px;
  align-items: center;
}

.addIconModal {
  display: none;
  width: 16px;
  height: 16px;
  align-items: center;
}

.searchbox_items {
  position: relative;
  height: 40px;
  padding: 0px 16px 0px 16px;
  gap: 8px;
  border-radius: 20px;
  border: 1px solid #998dc652;
  transition: border-color 0.3s;
  cursor: pointer;
}

.searchbox_items:hover {
  border-color: rgba(197, 216, 238, 0.6);
  /* border-top: 0.5px; */
  /* border-top: 1px solid transparent; */
}

.searchbox_items:hover .addIconModal {
  display: flex;
}

.searchbox_items:hover .iconSearchModal {
  display: none;
}

/* .searchbox_items::before {
    width: 20%;
    left: 0;
    transition: border-color 0.3s;
    border-radius: 20px 0px 0px 20px;
  }
  
  .searchbox_items::after {
    width: 20%;
    right: 0;
    transition: border-color 0.3s;
    border-radius: 0px 20px 20px 0px;
  }
  
  .searchbox_items::before,
  .searchbox_items::after {
    content: "";
    position: absolute;
    z-index: 1;
    height: 100%;
    top: 0;
    border-top: 1px solid transparent;
  }
  
  .searchbox_items:hover:after,
  .searchbox_items:hover:before {
    border-color: rgba(197, 216, 238, 0.6);
  } */

.searchbox_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.37px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f5f5f5;
}

.show-overlay_modal {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.wrapper {
  margin: 0px 62px 0px 58px;
  background: #0d0d18;
}

.trending_container {
  gap: 24px;
  margin: 25px 0px 54px 0px;
}

.trending_header {
  gap: 6px;
}

.trending_header_text {
  font-size: 20px;
  line-height: 33.6px;
}

.trending_content {
  gap: 12px;
}

.trending_content::-webkit-scrollbar {
  height: 0px;
}

.fomo_item_container {
  padding: 1px;
  border-radius: 99999px;
  background: linear-gradient(90deg, #8a66d8 0%, #08b4fe 100%);
  height: 52px;
  /* border: 1px solid transparent; */
  cursor: pointer;
}

.fomo_item_child_box {
  background: #0d0d18 !important;
  border: none;
  height: 50px !important;
  transition: all 0.2s ease-in-out;
  padding: 12px 16px 12px 12px;
  gap: 6px;
  border-radius: 99999px;
}

.trending_content_item {
  padding: 12px 16px 12px 12px;
  gap: 6px;
  border-radius: 99999px;
  background: #ffffff0a;
  border: 1px solid #ffffff1f;
  cursor: pointer;
  height: 52px;
  transition: all 0.2s ease-in-out;
}

.trending_content_item:last-child {
  margin-right: 12px;
}

.trending_content_item:hover {
  border-color: #e1e2e5;
  background: #ffffff14;
  backdrop-filter: blur(25px);
  --webkit-backdrop-filter: blur(25px);
}

.trending_content_item_active {
  padding: 12px 16px 12px 12px;
  gap: 6px;

  background: #00000033;

  cursor: pointer;
  height: 52px;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.trending_content_item_active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 99999px;
  border: 1px solid transparent;
  background: linear-gradient(90deg, #8a66d8 0%, #08b4fe 100%) border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.Fomo_tag {
  padding: 3px 8px 3px 8px;
  gap: 10px;
  border-radius: 9999px;
  background: #ffffff0f;
  border: 1px solid #ffffff0f;
}

.Fomo_tag_text {
  font-size: 16px;
  line-height: 22.4px;
  background: linear-gradient(97.56deg, #ffa300 8.45%, #fce3b7 87.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 600;
}

.action_table_container {
  display: flex;
  align-items: center;
}

.action_container {
  margin-bottom: 24px;
}

.action_item {
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 4px;
  background: #ffffff1f;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left_action_item {
  width: 104px;
  background: #ffffff0f;
  border: 1px solid #ffffff14;
}

.action_item_active {
  border: 1px solid var(--primary-500, #8a66d8) !important;
}

.action_item_text {
  color: var(--primary-50, #f6f5fd);
  font-size: 16px;
  line-height: 24px;
}

.arrow_down_icon {
  display: none;
}

.action_divider {
  border: 1px solid #ffffff1f;
  height: 26px;
  width: 1px;
  content: "";
  margin: 0 12px;
}

.right_action_item {
  border: 1px solid #ffffff14;
  background: #ffffff1f;
}

.action_item_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trending_action_svg path {
  transition: all 0.2s ease-in-out;
}

.right_action_item:hover .action_item_icon .trending_action_svg path {
  fill: #8a66d8;
}

.action_item_disabled,
.action_item_disabled:hover {
  cursor: not-allowed;
  opacity: 0.5;
  border: 1px solid #ffffff14 !important;
}

.action_item_disabled:hover>.action_item_text {
  color: #f6f5fd !important;
}

.action_item_disabled .trending_action_svg path {
  fill: #ffffff40 !important;
}

.buy_sell_box_container {
  width: 215px;
  height: 44px;
  padding: 4px 4px 4px 8px;
  gap: 10px;
  border-radius: 6px;
  border: 1px;
  background: #ffffff0f;
  border: 1px solid #ffffff0f;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buy_sell_box {
  width: 94px;
  height: 36px;
  padding: 0px 8px 0px 8px;
  gap: 6px;
  border-radius: 4px;
  background: #ffffff1f;
  display: flex;
  align-items: center;
}

.buy_sell_input {
  width: 100%;
  background: var(--semantic-empty, #ffffff00);
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.noti-popup,
.noti-warning {
  width: max-content;
  height: 44px;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.12);
  justify-content: center;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  z-index: 100;
  /* 22.4px */
}

.show-noti,
.show-noti-warning {
  animation: fade-in 0.3s ease-out forwards;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
  top: 95px;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  z-index: 100;
}

.hide-noti {
  z-index: -1;
  animation: fade-out 0.1s ease-out forwards;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  opacity: 1;
  top: 50px;
  z-index: -1;
}

.hide-first {
  display: none !important;
}

.hide-swap {
  display: none !important;
}

@keyframes fade-in {
  from {
    opacity: 0;
    top: 50px;
  }

  to {
    opacity: 1;
    top: 95px;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    top: 95px;
  }

  to {
    opacity: 0;
    top: 50px;
  }
}

@keyframes in-come {
  0% {
    background-color: transparent;
  }

  20% {
    background-color: rgba(255, 255, 255, 0.04);
  }

  40% {
    background-color: transparent;
  }

  60% {
    background-color: rgba(255, 255, 255, 0.04);
  }

  80% {
    background-color: rgba(255, 255, 255, 0.04);
  }

  100% {
    background-color: transparent;
  }
}

.search_box::-webkit-scrollbar {
  width: 1px;
}

.hidden_btn {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .modalSearch {
    width: calc(100% - 32px);
  }

  .trending_container {
    gap: 16px;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 575.98px) {
  .action_box_mobile {
    top: 89px;
  }
}

.loader {
  animation: rotation 1.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 55px;
  overflow-x: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}

.track {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  animation: marquee 40s linear infinite;
  display: flex;
  gap: 12px;
}

/* .track:hover {
    animation-play-state: paused;
  } */

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* CSS CUSTOM */
.mb-0 {
  margin-bottom: 0px !important;
}

.table> :not(caption)>*>* {
  background-color: rgb(17, 17, 26) !important;
  color: var(--neutral-500, #626576) !important;
}

.disabled {
  cursor: not-allowed;

  color: gray;
}

.z1 {
  z-index: 1;
}

.balance-text {
  font-size: 1.5rem;
  /* Increase the font size */
  font-weight: bold;
  /* Make the text bold */
  color: #2c3e50;
  /* Change the text color */
  margin: 10px 0;
  /* Add some margin */
  text-align: center;
  /* Center the text */
}

.balance-text span {
  font-size: 1.2rem;
  /* Smaller font size for the currency symbol */
  color: #3498db;
  /* Different color for the currency symbol */
}

.w100 {
  width: 100%;
}

.none {
  display: none !important;
}

.fadeIn {
  animation: fadeIn 0.6s ease-in-out;
}

.wrapper-layout {
  animation: fadeIn 0.8s ease-in-out;
}

.name-token:hover {
  color: #f5f5f5;
}

.btn-quickMint {
  display: flex;
  width: 32px;
  height: 32px;
  padding: 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(98deg, #1F2769 1.28%, #1E2136 53.6%, #2E417E 100%);
  position: relative;
}

.btn-quickMint:hover{
  border: 1.6px solid #4451C4;
}

.btn-quickMint::before{
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.08) 100%), linear-gradient(98deg, #1F2769 1.28%, #1E2136 53.6%, #2E417E 100%); 
  position: absolute;
  top:0;
  left:0;
  border-radius: 8px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.btn-quickMint:hover::before{
  opacity: 1;
}

