/* custom.css */

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');


body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    padding-top: 20px;
}

/* Track */
body::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: #626576;
    border-radius: 24px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #626576;
}

/* TODO: css Header */
.containerHeader {
    display: flex;
    padding: 20px 12px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    background-color: #0d0d18;
    z-index: 1000;
    position: relative;
}

.containerInputSearch {
  width: 400px;
  display: flex;
  padding: 0px 12px;
  align-items: center;
  border-radius: var(--input-size-md-corner-radius, 6px);
  border: 1px solid rgba(65, 65, 74, 0.5);
  gap: var(--input-size-md-gap, 8px);
}

.iconSearch {
    padding: 12px 0px;
    cursor: pointer;
}

.boxInputSearch {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.inputSearch {
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
    background-color: #0d0d18;
    color: #fff;
}

.showSearchHeader {
    display: none;
    position: fixed;
    gap: 16px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 12px;
    background: var(--primary-950, #0D0D18);
    z-index: 9999;
    padding: 20px;
}

.containerInputSearchMB {
  padding: 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

.boxInputSearchMB {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.inputSearchHeaderMB {
  display: flex;
  width: 100%;
  height: var(--input-size-md-height, 44px);
  padding: 0px var(--input-size-md-padding, 12px);
  align-items: center;
  gap: var(--input-size-md-gap, 8px);
  align-self: stretch;
  border-radius: var(--input-size-md-corner-radius, 6px);
  border: 1px solid rgba(65, 65, 74, 0.50);
}

.containerListResult {
    display: flex;
    flex-wrap: wrap;
    padding: var(--20125-rem, 20px);
    align-items: flex-start;
    gap: 16px;
    width: 100%;
    justify-content: center;
}

.itemListResult {
    display: flex;
    height: 40px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 20px;
    border: 1px solid rgba(153, 141, 198, 0.32);
}

.contentItemList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.textItemList {
    color: var(--p-text, #F5F5F5);
    font-family: Archivo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 124.1%;
    letter-spacing: 0.28px;
}

.boxConnectWallet {
  display: flex;
  height: var(--button-size-md-height, 44px);
  padding: 0px var(--button-size-md-padding, 12px);
  justify-content: center;
  align-items: center;
  border-radius: var(--button-size-md-corner-radius, 6px);
  background: var(--button-color-solid-enabled-background, #8a66d8);
  gap: var(--button-size-md-gap, 6px);
}

.boxConnectWallet:hover {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background: var(--button-color-solid-enabled-background, #b19ee7);
}

.textConnectWallet {
  color: var(--button-color-solid-enabled-text, #fff);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
}

.containerConnectWallet {
  display: flex;
  gap: 12px;
  align-items: center;
}

.iconSearchConnectWallet {
  display: none;
}

@media (max-width: 991px) {
    .containerInputSearch {
        width: 300px;
    }
}

@media (max-width: 767px) {
    .containerHeader {
        display: flex;
        padding: 12px 12px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
        backdrop-filter: blur(50px);
    }

  .page-item-select {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #8A66D8;
  }

  .iconSearchConnectWallet {
    display: flex;
  }

  .containerInputSearch {
    display: none;
  }
}

@media (max-width: 424px) {
  .logo {
    width: 100px;
  }

  .boxConnectWallet {
    height: 36px;
    padding: 0px 8px;
    gap: 4px;
  }

  .textConnectWallet {
    font-size: 12px;
  }
}


/* TODO: css Content include[Trending, Action, DataTable + Swaptoken] */

/* Table */
/* 
.container {
    padding: 0 !important;
} */

.container-table {
  max-width: 1366px;
  overflow-x: scroll;
  flex: 1;
}

.container-table::-webkit-scrollbar {
  width: 20px;
  height: 6px;
  padding-top: 20px;
}

/* Track */
.container-table::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
.container-table::-webkit-scrollbar-thumb {
  background: #626576;
  border-radius: 24px;
}

/* Handle on hover */
.container-table::-webkit-scrollbar-thumb:hover {
  background: #626576;
}

.swap-token {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.02);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 14.5%, rgba(138, 102, 216, 0.10) 37.04%, rgba(138, 102, 216, 0.12) 76.67%, rgba(0, 0, 0, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.table {
  border-radius: 8px;
  background: #11111a;
  backdrop-filter: blur(25px);
  margin: 0 !important;
}

.header-table {
  color: var(--neutral-500, #626576);
  font-family: "Chakra Petch";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding-top: 16px !important;
  padding-bottom: 16px !important;
  border: 0;
  /* 125% */
}

.body-table {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.header-table:not(:last-child),
.body-table:not(:last-child) {
  padding-right: 40px;
}

.header-table:not(:first-child),
.body-table:not(:first-child) {
  padding-left: 0;
}

.header-table:first-child,
.body-table:first-child {
  padding-left: 20px;
}

.header-table:last-child,
.body-table:last-child {
  padding-right: 20px;
}

.name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--neutral-25, #f5f6f7);
  text-align: center;
  text-overflow: ellipsis;
  font-family: "Chakra Petch";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  width: 115px;
  line-height: 130%;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #626576;
}

.time {
  color: var(--neutral-500, #626576);
  text-align: center;
  font-family: "Chakra Petch";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 20.8px */
}

.action-content {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 19.6px */
}

.text-red {
  color: #f95e5e;
}

.text-green {
  color: #58d073;
}

.token-content {
  color: var(--neutral-100, #e1e2e5);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 22.4px */
}

.btn-quick-action {
  height: 28px;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--primary-500, #8a66d8);
  background: rgba(255, 255, 255, 0.04);
  cursor: pointer;
}

.title-quick-action {
  color: #f5f5f5;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  /* 19.6px */
}

.body-table-row {
  transition: all 0.2s ease-in-out;
}

.body-table-row:hover {
  background-color: rgba(255, 255, 255, 0.04);
}

.container-swap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.title-swap {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 31.2px */
}

.content-swap-item {
  padding: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.04);
  width: 100%;
}

.line {
  width: 2px;
  height: 20px;
  background: var(--primary-500, #8a66d8);
}

.chossen-token {
  display: flex;
  padding: 6px 10px 6px 6px;
  align-items: center;
  gap: 4px;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.price-swap {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  /* 20.8px */
}

.max-swap {
  color: var(--button-color-ghost-enabled-text, #8a66d8);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-top: -2px;
  padding-left: 4px;
  /* 142.857% */
}

.title-btn-swap {
  color: var(--neutral-0, #fff);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
}

.btn-swap {
  width: 100%;
  cursor: pointer;
  display: flex;
  height: 56px;
  padding: 0px 16px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #8a66d8;
  transition: all 0.2s ease-in-out;
}

.btn-swap:hover {
  border: 1px solid var(--button-color-outline-enabled-stroke, #8A66D8);
  background: var(--primary-500, #8A66D8);
}

.overlay {
  display: none;
}

.address {
  color: #a3a5ae;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  /* 16.9px */
}

.content-td {
  height: 37px;
  display: flex;
  align-items: center;
}

.swap-token {
  opacity: 0;
  transform: translate(50%);
  transition: all 0.3s ease-in-out;
  position: absolute !important;
  right: 120px;
  z-index: -1;
}

/* .show-swap {
  opacity: 1;
  display: block;
  transform: translate(0);
  position: relative !important;
  z-index: 100;
  right: 0;
} */

.show-swap {
  opacity: 1;
  transform: translateY(0);
  position: absolute !important;
  z-index: 100;
  right: 0;
  top: 37px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hide-swap {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}

.loading-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    z-index: 99999;
    -webkit-backdrop-filter: blur(25px);
    backdrop-filter: blur(24px);
    border-radius: 0 0 8px 8px;
}

@media (max-width: 960px) {
  .swap-token {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98% !important;
    height: auto !important;
  }

  .show-overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 500px) {
  .hide-respon {
    display: none;
  }

  .form {
    max-width: 158px !important;
    min-width: 158px !important;
  }

  .header-table:not(:last-child),
  .body-table:not(:last-child) {
    padding-right: 16px;
  }

  /* .body-table:last-child,
  .quick-action {
    position: sticky;
    right: 0;
    background-color: #11111A !important;
  } */

  .body-table-row:hover>.body-table:last-child {
    background-color: rgb(26 26 35) !important;
  }
}

/* TODO: css Pagination */
.containerPagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    background-color: #0d0d18;
    padding: 24px 0px;
}

.iconTransparrent {
  display: flex;
  height: var(--pagination-size-sm-height, 20px);
  padding: 0px var(--pagination-size-sm-padding, 6px);
  justify-content: center;
  align-items: center;
}

.page-item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-item-select {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #8a66d8;
}

.page_link {
  color: var(--pagination-color-ghost-rest-enabled-text, #fff) !important;
  text-align: center;
  font-family: Archivo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* TODO: css Trending action */
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0px 62px 0px 58px;
  background: #0d0d18;
}

.trending_container {
  gap: 24px;
  margin: 25px 0px 52px 0px;
}

.trending_header {
  gap: 6px;
}

.trending_action_text {
  text-align: center;
  font-weight: 500;
  color: #ffffff;
}

.trending_header_text {
  font-size: 24px;
  line-height: 33.6px;
}

.trending_content {
  gap: 12px;
}

.trending_content::-webkit-scrollbar {
  height: 0px;
}

.trending_content_item {
  padding: 12px 16px 12px 12px;
  gap: 6px;
  border-radius: 99999px;
  background: #ffffff0a;
  border: 1px solid #ffffff1f;
  transition: all 0.2s ease-in-out;
}

.trending_content_item:hover {
  border-color: #E1E2E5;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px);
  --webkit-backdrop-filter: blur(25px);
}

.Fomo_tag {
  padding: 3px 8px 3px 8px;
  gap: 10px;
  border-radius: 9999px;
  background: #ffffff0f;
  border: 1px solid #ffffff0f;
}

.Fomo_tag_text {
  font-size: 600px;
  font-size: 16px;
  line-height: 22.4px;
  background: linear-gradient(97.56deg, #ffa300 8.45%, #fce3b7 87.86%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.fomo_item_container {
  padding: 1px;
  border-radius: 99999px;
  background: linear-gradient(90deg, #8a66d8 0%, #08b4fe 100%);
}

.fomo_item_child_box,
.fomo_item_child_box:hover {
  background: #0d0d18 !important;
}

.action_table_container {
  display: flex;
  align-items: center;
}

.action_container {
  margin-bottom: 24px;
}

.action_item {
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 4px;
  background: #ffffff1f;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}

.action_item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .3s ease;
  background: radial-gradient(108.1% 108.33% at 50% -8.33%, #1e1533 0, rgba(68, 45, 116, .24) 62%, rgba(99, 54, 197, .6) 100%), linear-gradient(90deg, rgba(138, 162, 191, .4), rgba(0, 0, 0, .4));
}

.action_item:hover {
  box-shadow: 0 0 24px 0 rgba(58, 21, 198, .6);
}

.action_item:hover::after {
  opacity: 1;
}

.left_action_item {
  width: 104px;
  background: #ffffff0f;
  border: 1px solid #ffffff14;
  transition: all 0.2s ease-in-out;
}

.action_item_active {
  border: 1px solid var(--primary-500, #8a66d8) !important;
}

.action_item_text {
  color: var(--primary-50, #f6f5fd);
  font-size: 16px;
  line-height: 24px;
}

.arrow_down_icon {
  display: none;
}

.action_divider {
  border: 1px solid #ffffff1f;
  height: 26px;
  width: 1px;
  content: "";
  margin: 0 12px;
}

.right_action_item {
  border: 1px solid #ffffff14;
  background: #ffffff1f;
}

.buy_sell_box_container {
  padding: 4px 4px 4px 8px;
  gap: 10px;
  border-radius: 6px;
  border: 1px;
  background: #ffffff0f;
  border: 1px solid #ffffff0f;
  display: flex;
  align-items: center;
}

.buy_sell_box {
  width: 94px;
  height: 36px;
  padding: 0px 8px 0px 8px;
  gap: 6px;
  border-radius: 4px;
  background: #ffffff1f;
  display: flex;
  align-items: center;
}

.buy_sell_input {
  width: 100%;
  background: var(--semantic-empty, #ffffff00);
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
}

.action_box_mobile {
  display: none;
  flex-direction: column;
  padding: 12px;
  gap: 8px;
  border-radius: 6px;
  background: #ffffff14;
  bottom: -315px;
  z-index: 99;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
}

.modalSearch {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 102;
  /* height: 50%; */
  background: #0d0b12;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  max-width: 764px;
  animation: fadeIn 0.35s ease-in forwards;
}

.modal_content_container {
  width: 100%;
  height: 100%;
  padding: 24px;
}

.input_modal_search_wrapper {
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
}

.search_icon_box {
  width: 25px;
  height: 25px;
  padding: 8px 10px 8px 10px;
  gap: 10px;
  border-radius: 4px;
  background: #ffffff0f;
  text-align: center;
}

.input_modal_search {
  font-family: Archivo;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #FFFFFF;
}

.searchbox_items {
  height: 40px;
  padding: 0px 16px 0px 16px;
  gap: 8px;
  border-radius: 20px;
  border: 1px solid #998dc652;
}

.searchbox_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.37px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #F5F5F5;
}

.show-overlay_modal {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.wrapper {
    margin: 0px 62px 0px 58px;
    background: #0d0d18;
}

.trending_container {
    gap: 24px;
    margin: 25px 0px 52px 0px;
}

.trending_header {
    gap: 6px;
}

.trending_action_text {
    text-align: center;
    font-weight: 500;
    color: #ffffff;
}

.trending_header_text {
    font-size: 24px;
    line-height: 33.6px;
}

.trending_content {
  gap: 12px;
}

.trending_content::-webkit-scrollbar {
    height: 0px;
}

.trending_content_item {
    padding: 12px 16px 12px 12px;
    gap: 6px;
    border-radius: 99999px;
    background: #ffffff0a;
    border: 1px solid #ffffff1f;
    cursor: pointer;
    height: 52px;
}

.Fomo_tag {
    padding: 3px 8px 3px 8px;
    gap: 10px;
    border-radius: 9999px;
    background: #ffffff0f;
    border: 1px solid #ffffff0f;
}

.Fomo_tag_text {
    font-size: 600px;
    font-size: 16px;
    line-height: 22.4px;
    background: linear-gradient(97.56deg, #ffa300 8.45%, #fce3b7 87.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 500;
}

.fomo_item_container {
    padding: 1px;
    border-radius: 99999px;
    background: linear-gradient(90deg, #8a66d8 0%, #08b4fe 100%);
    height: 52px;
}

.fomo_item_child_box {
    background: #0d0d18;
    border: 0;
    height: 50px;
}

.action_table_container {
    display: flex;
    align-items: center;
}

.action_container {
    margin-bottom: 24px;
}

.action_item {
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 4px;
    background: #ffffff1f;
    border: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.left_action_item {
    width: 104px;
    background: #ffffff0f;
    border: 1px solid #ffffff14;
}

.action_item_active {
    border: 1px solid var(--primary-500, #8a66d8) !important;
}

.action_item_text {
    color: var(--primary-50, #f6f5fd);
    font-size: 16px;
    line-height: 24px;
}

.arrow_down_icon {
    display: none;
}

.action_divider {
    border: 1px solid #ffffff1f;
    height: 26px;
    width: 1px;
    content: "";
    margin: 0 12px;
}

.right_action_item {
    border: 1px solid #ffffff14;
    background: #ffffff1f;
}

.buy_sell_box_container {
    padding: 4px 4px 4px 8px;
    gap: 10px;
    border-radius: 6px;
    border: 1px;
    background: #ffffff0f;
    border: 1px solid #ffffff0f;
    display: flex;
    align-items: center;
}

.buy_sell_box {
    width: 94px;
    height: 36px;
    padding: 0px 8px 0px 8px;
    gap: 6px;
    border-radius: 4px;
    background: #ffffff1f;
    display: flex;
    align-items: center;
}

.buy_sell_input {
    width: 100%;
    background: var(--semantic-empty, #ffffff00);
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.action_box_mobile {
    display: none;
    flex-direction: column;
    padding: 12px;
    gap: 8px;
    border-radius: 6px;
    background: #ffffff14;
    bottom: -315px;
    z-index: 99;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}

.noti-popup,
.noti-warning {
  width: max-content;
  height: 44px;
  padding: 8px 12px;
  gap: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.12);
  justify-content: center;
  position: fixed;
  left: 50%;
  top: 50px;
  transform: translate(-50%);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  opacity: 0;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  /* 22.4px */
}

.show-noti,
.show-noti-warning {
  top: 95px;
  opacity: 1;
}

.search_box::-webkit-scrollbar {
  width: 1px;
}

.hidden_btn {
  display: none !important;
}

@media screen and (max-width: 768px) {
    .modalSearch {
        width: calc(100% - 32px);
    }

    .trending_container {
        gap: 16px;
        margin-bottom: 35px;
    }
}


.loader {
  animation: rotation 1.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 55px;
  overflow-x: hidden;
}

.track {
  position: absolute;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
  display: flex;
  gap: 12px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10%);
  }

  40% {
    transform: translateX(-20%);
  }

  60% {
    transform: translateX(-30%);
  }

  80% {
    transform: translateX(-40%);
  }

  100% {
    transform: translateX(-50%);
  }
}